#Configuration info
[ProjectInfo]
    Project = 21641

[capModePIPSceneSpecialSize] #done
    #key                                width   height   duration
    size[0]                       =     960;    1080;    33333333;
    size[1]                       =     640;    720;     0;
    size[2]                       =     480;    272;     0;
    size[3]                       =     368;    368;     0;
    size[4]                       =     320;    184;     0;
    size[5]                       =     240;    240;     0;
    size[6]                       =     640;    368;     33333333;
    size[7]                       =     464;    464;     33333333;
    size[8]                       =     432;    240;     0;
    size[9]                       =     320;    320;     0;

[PerformanceCommon]
                #NORMAL  #Professional  #CommonVideo  #FrontPortait  #CapModeMask
    NeedSkipFd = 0x8001; 0x8009;        0x800B;       0x8026         #0xF0FF  To Force Enable
    BindCore   = true
    CustomCpuMinFreq = 600000

[PerformanceMCNRBindCPU]
    #factor  = camera_id;  operation;    applyFor4kVideo;
    Mode[0]  =   -1;       0x8021;            1;

[SatSensorName]
    Wide      = imx766
    UltraWide = imx766_uw
    Tele      = s5k3m5
[SatOisName]
    Wide      = AK7322C
[SatPixelSize]
    Wide      = 1.0
    UltraWide = 1.0
    Tele      = 1.0

[FeatureCommon]
    ExifComment = oplus_
    SwitchTrack = true
    SwitchSod = false
    SatFDZoomRatioEnable  =  false
    #              [camId][Pkg]           Flip      Orientation
    OrientationInfo[1][com.android.mms] = 1;        270;
    OplusSetNeonParamFlag = 0;
    isNeedSkipUpdateDashboard = true;

[FeatureVideoNight]
    Switch = true

[skipaftrigger_sensormode]
    mode = 9

[FeaturecustomOISPixelVal]
    calculation_mode = 1

[FeatureFSCSwitch]
    supportFSC = false

[FeatureOplusTrackCropRatio]
    CropRatio = 1.0

[FeatureOplusSuperEis]
    Switch = true
    Qcount = 30

[FeatureVideoFDPeriodConfig]
    #operation mode     operation_mode     value
    Mode[0]         =     -1;               66   #default value
    Mode[1]         =     0x8028;           66

[FeatureVsdofFDPeriodConfig]
    #operation mode     operation_mode     value
    Mode[0]         =     -1;               33     #default value

[FeatureConfigPeriod]
    #operation mode     operation_mode     value
    Mode[0]         =     -1;               33     #default value
    Mode[1]         =     0x8021;           50     #video 60 fps

[FeatureEISDebug]
    supportMTKEIS = true
    supportTPEIS = true
    forceEis60FPS = false
    supportEISModeLossless = false
    enableOIS = true

[FeatureEISTypeMap]
    #VideoEisMode    operation_mode    open_id    feature_mask    isMTKEIS    isTPEIS
    Mode[0] =           0x8028;            0;         0;             1;          0      #super eis
    Mode[1] =           0x8028;            2;         0;             1;          0      #super eis pro
    Mode[2] =           0x802B;            1;         0;             1;          0      #front video eis
    Mode[3] =           0x80A7;            2;         0;             1;          0      #video eis
    Mode[4] =           0x80A7;            0;         0;             1;          0      #video eis
    Mode[5] =           0x80A4;            2;         0;             1;          0      #film video eis
    Mode[6] =           0x80A4;            0;         0;             1;          0      #film video eis
    Mode[7] =           0x80A4;            3;         0;             1;          0      #film video eis
    Mode[8] =           0x8021;            2;         0;             1;          0      #4k@60 eis
    Mode[9] =           0x8021;            0;         0;             1;          0      #4k@60 eis
    Mode[10] =          0x802c;            1;         3;             1;          0      #dualview
    Mode[11] =          0x802c;            0;         3;             1;          0      #dualview
    Mode[12] =          0x800B;            0;         0;             1;          0      #CapModeCommonVideo
    Mode[13] =          0x800B;            1;         0;             1;          0      #CapModeCommonVideo
    Mode[14] =          0x800B;            2;         0;             1;          0      #CapModeCommonVideo
    Mode[15] =          0x800c;            0;         0;             1;          0      #time_lapseSuperEis
    Mode[16] =          0x80a7;            0;         0;             1;          0      #AIvideoSuperEis

[SetFDModeConfig]
    #FDMode    operation_mode        isSetFD
    Mode[0] =    0x802c;                1        #PIP Scene

[CustomEISFactor]
    #             CapMode          camId     eisfactor
    Mode[0] =     0x8028;          0;         119      #super eis
    Mode[1] =     0x8028;          2;         119      #super eis pro
    Mode[2] =     0x802B;          1;         109      #front video eis
    Mode[3] =     0x80A7;          2;         119      #video eis
    Mode[4] =     0x80A7;          0;         119      #video eis
    Mode[5] =     0x80A4;          2;         119      #film video eis
    Mode[6] =     0x80A4;          0;         119      #film video eis
    Mode[7] =     0x80A3;          2;         119      #film video eis
    Mode[8] =     0x80A3;          0;         119      #film video eis
    Mode[9] =     0x8021;          2;         119      #4k@60 eis
    Mode[10] =    0x8021;          0;         119      #4k@60 eis
    Mode[11] =    0x802c;          1;         109      #dualview
    Mode[12] =    0x802c;          0;         119      #dualview
    Mode[13] =    0x800B;          0;         119      #CapModeCommonVideo
    Mode[14] =    0x800B;          1;         109      #CapModeCommonVideo
    Mode[15] =    0x800B;          2;         119      #CapModeCommonVideo
    Mode[16] =    0x800c;          0;         119      #time_lapseSuperEis
    Mode[17] =    0x80a7;          0;         119      #AIvideoSuperEis

[SystemCamSensorSettingMap]
    # key      CapMode    thirdAppCall      camId       yuvSizeW     imgSizeW      video       imageRation      scenarioId
    Mode[0]  = 0x8028;         -1;           0;           -1;           -1;         -1;             -1;               3    # CapModeVideoSuperEis
    Mode[1]  = 0x8028;         -1;           2;           -1;           -1;         -1;             -1;               2    # CapModeVideoSuperEis
    Mode[2]  = 0x800B;         -1;           1;           -1;           -1;         -1;             -1;               2    # CapModeCommonVideo
    Mode[3]  = 0x9005;         -1;           0;           -1;           -1;         -1;             -1;               3    # OisCalib
    Mode[4]  = 0x800B;         -1;           0;           -1;           -1;         -1;             -1;               2    # CapModeCommonVideo
    Mode[5]  = 0x800B;         -1;           2;           -1;           -1;         -1;             -1;               2    # CapModeCommonVideo
    Mode[6]  = 0x80A4;         -1;           0;           -1;           -1;         -1;             -1;               2    # StreamConfigCapModeFilmVideoEis
    Mode[7]  = 0x80A4;         -1;           2;           -1;           -1;         -1;             -1;               2    # StreamConfigCapModeFilmVideoEis
    Mode[8]  = 0x80A3;         -1;           0;           -1;           -1;         -1;             -1;               2    # StreamConfigCapModeFilmVideo
    Mode[9]  = 0x80A3;         -1;           2;           -1;           -1;         -1;             -1;               2    # StreamConfigCapModeFilmVideo
    Mode[10] = 0x800C;         -1;           0;           -1;           -1;         -1;             -1;               2    # StreamConfigCapModeFastVideo
    Mode[11] = 0x800C;         -1;           1;           -1;           -1;         -1;             -1;               2    # StreamConfigCapModeFastVideo

[ThirdCamSensorSettingMapByActivity]
    # key     pkgName                                                       camId       scenarioId
    com.tencent.av.ui.AVActivity[0]                           =               0;             2    #
    com.tencent.mm.plugin.voip.ui.VideoActivity[0]            =               0;             2    #

[AppMapFastLaunchRequestNum]
    android                 = 4
    com.whatsapp            = 4
    com.tencent.mm          = 0
    vendor.client.pid       = 4
    client.pid              = 4
    com.tencent.mobileqq    = 4

[UXThreadConfig]
    sensorPowerOn           = true

[OperationModeMapFastLaunchRequestNum]
    #operation mode       operation_mode    RequestNum
    Mode[0]         =     0x8009;           0               #StreamConfigCapModeProfessional
    Mode[1]         =     0x80a4;           0               #StreamConfigCapModeFilmVideoEis
    Mode[2]         =     0x80a3;           0               #StreamConfigCapModeFilmVideo

[FeatureSystemCamRrzoConfig]
    # [openId][operationMode]                       width     height
    Mode[0][0x8028] =                               2112;     1184;
    Mode[2][0x8028] =                               2112;     1184;

[oplusCheckStreamFrontCam]
    #key                                openId     width    height
    config[0]                     =     1;         2320;    1744;

[OrmsActivityNameConfigMap]
    # key  pkgName                                                        orms action <=1280                 orms action >1280
    com.tencent.mm.plugin.voip.ui.VideoActivity                       =  ORMS_ACTION_3RD_CAM_VIDEO_CALL;     ORMS_ACTION_3RD_CAM_VIDEO_CALL
    com.whatsapp.voipcalling.VoipActivityV2                           =  ORMS_ACTION_3RD_CAM_VIDEO_CALL;     ORMS_ACTION_3RD_CAM_VIDEO_CALL
    com.google.android.libraries.youtube.edit.gallery.GalleryActivity =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER; ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

[OrmsCallerPackageNameNameConfigMap]
    # key  pkgName                                      orms action <=1280                orms action >1280
    com.google.android.youtube                       =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

[OrmsPackageNameConfigMap]
    # key  pkgName                      orms action <=1280                orms action >1280
    com.tencent.mm              =  ORMS_ACTION_3RD_CAM_WECHAT_VIDEO_CALL; ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.ss.android.ugc.aweme    =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.snapchat.android        =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.android.incallui        =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.zhiliaoapp.musically    =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.facebook.katana         =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.whatsapp                =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.instagram.android       =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.google.android.youtube  =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.smile.gifmaker          =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.ig              =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mobileqq        =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.eg.android.AlipayGphone =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.windforce.android.suaraku  =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF

[OsenseActivityNameConfigMap]
    # key  pkgName                                                        orms action <=1280                 orms action >1280
    com.tencent.mm.plugin.voip.ui.VideoActivity                       =  OSENSE_ACTION_3RD_CAM_VIDEO_CALL;     OSENSE_ACTION_3RD_CAM_VIDEO_CALL
    com.whatsapp.voipcalling.VoipActivityV2                           =  OSENSE_ACTION_3RD_CAM_VIDEO_CALL;     OSENSE_ACTION_3RD_CAM_VIDEO_CALL
    com.google.android.libraries.youtube.edit.gallery.GalleryActivity =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER

[OsenseCallerPackageNameNameConfigMap]
    # key  pkgName                                      OSENSE action <=1280                OSENSE action >1280
    com.google.android.youtube                       =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER

[OsensePackageNameConfigMap]
    # key  pkgName                      OSENSE action <=1280                OSENSE action >1280
    com.tencent.mm              =  OSENSE_ACTION_3RD_CAM_WECHAT_VIDEO_CALL; OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.ss.android.ugc.aweme    =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.snapchat.android        =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.android.incallui        =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.zhiliaoapp.musically    =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.facebook.katana         =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.whatsapp                =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.instagram.android       =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.google.android.youtube  =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.smile.gifmaker          =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.ig              =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mobileqq        =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.windforce.android.suaraku  =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF

[OrmsOperationModeMap]
    #[openid][operationmode] orms action
    #!!!Attention: operationmode must use lowercase and forbid end-line comments!!!
    Mode[-1][0x800d]    =    ORMS_ACTION_CAMERA_SLOW_1080P
    Mode[-1][0x802c]    =    ORMS_ACTION_CAMERA_SLOW_1080P

[OrmsRunDelayframes]
    # key  pkgName                Delayframes
    com.tencent.mobileqq        =  90

[FpsgoCtrl]
    enable = true;

[FpsgoGroupSetting]
    Mode[0] =  0x0203c300;  14;  0x0203c000;  0;  0x0203c900;   0;  0x02064400;   1;  0x03008000;  0;  0x0206ce00;  0;  0x02040400;  0;  0x0206cc00; 10;  0x02020000; 10;  0x02048500;  3;  0x0143c100;  2;  0x00400000; 400000;  0x00400100; 400000; 0x00804000;       4;  0x00800000;       4; 0x00804100;        3;  0x00800100;       3;  0x00800200;       0;   0x00804200;  1;
    Mode[1] =  0x0203c300;  16;  0x0203c000;  0;  0x0203c900;   0;  0x02064400;   1;  0x03008000;  1;  0x03008200; 97;  0x0201c000; 60;  0x0201c100; 60;  0x0206ce00;  0;  0x02040400;  0;  0x0206cc00; 10;  0x02020000;     11;  0x02048500;      4; 0x00400000; 1200000;  0x00400100; 1200000; 0x00400200;  1200000;  0x0040c100; 2850000;  0x0040c200;  2850000;  0x00c04000;  2; 0x0143c100;  0;

[FpsgoSysCamConfig]
    factor   = configgroup; enterconfig; entertimeout; camera_id; operation; width; fps;
    Mode[0]  =  0;          9;            1000;           -1;        0x8001;    -1;  -1;
    Mode[1]  =  1;         -1;              -1;           -1;        0x8021;    -1;  -1;

[camIdxMapType]
    # 0x01,   "AT+CAMERA_OPEN"                    -- rear (main)
    # 0x02,   "AT+CAMERA_FRONT_OPEN"              -- front
    # 0x04,   "AT+CAMERA_F2_OPEN"                 -- front second
    # 0x08,   "AT+CAMERA_BACK_AUX_OPEN"           -- rear second (wide)
    # 0x10,   "AT+CAMERA_BACK_MONO1_OPEN"         -- rear third (mono1)
    # 0x20,   "AT+CAMERA_BACK_MONO2_OPEN"         -- rear fourth (mono2)
    # 0x40,   "AT+CAMERA_BACK_MACRO_OPEN"         -- rear macro
    # 0x80,   "AT+CAMERA_BACK_TELE_OPEN"          -- rear third (tele)

    #[srcIdx]                           camIdx    dstIdx
    index[0]                     =     0x01;     0x01;           #SENSOR_DEV-main
    index[1]                     =     0x02;     0x02;           #SENSOR_DEV-front
    index[2]                     =     0x04;     0x04;           #SENSOR_DEV-wide
    index[3]                     =     0x10;     0x10;           #SENSOR_DEV-BackMacro

[SOISSettingMap]
    # key      CapMode    camId        SOISMode
    Mode[0]  = 0x800B;     0;             0     // CommonVideo30FPS
    Mode[1]  = 0x8010;     0;             1     // Halfportait
    Mode[2]  = 0x8011;     0;             1     // Fullportait
    Mode[3]  = 0x8028;     0;             5     // VideoSuperEis
    Mode[4]  = 0x8007;     0;             1     // Panorama
    Mode[5]  = 0x8021;     0;             0     // CommonVideo60FPS
    Mode[6]  = 0x80a3;     0;             0     // MovieVideo
    Mode[7]  = 0x80a4;     0;             0     // MovieVideoSuperEis
    Mode[8]  = 0x800C;     0;             5     // time_lapseSuperEis
    Mode[9]  = 0x800D;     0;             5     // Slowvideo
    Mode[10]  = 0x80A5;     0;             5     // Slowvideo
    Mode[11]  = 0x80a7;    0;             0     // AIvideo
    Mode[12]  = 0x802c;    0;             5     // dualview

[oplusBssLeftEnable]
    BssLeftEnable  =  true

[oplusDisablePrvSeamlessSwitch]
    DisablePrvSeamlessSwitch  =  true

[EepromDataStyle]
    Style  =  0

[NeonPortraitParam]
    #key             cameraID  BVtrigger  intensity  saturation  facula_density  lightFactor  smoothAmount  max_factor  red  green  blue  yellow  BGlightFactor
    index[0]    =     0;        30;        80;          70;         80;        100;           1200;          2800;     50;   50;    50;   50;     100;
    index[1]    =     0;       -50;        80;          70;         80;        100;           1200;          2800;     50;   50;    50;   50;     100;
    index[2]    =     1;        30;        75;          65;         80;        100;           1200;          2800;     50;   50;    50;   50;     100;
    index[3]    =     1;       -50;        75;          65;         80;        100;           1200;          2800;     50;   50;    50;   50;     100;

[FeatureBinSumTransMap]
    #index    SensorDev    isTrans
    index[0] = 1;         1;
    index[1] = 2;         1;
    index[2] = 4;         0;

[TuningSupernightMode]
     #           sensorId    handheld_ae_params[12]                                                         face_ae_params[12]                                                            flash_ae_params[12]                                                           tripod_ae_params[2]
     Mode[0]  =  0x0768;     120000; 100000;  80000;  70000; 60000; 50000; 500; 500; 500; 500; 500; 500;      120000; 100000;  80000;  70000; 60000; 50000; 500; 500; 500; 500; 500; 500;    120000; 100000;  80000;  70000; 60000; 50000; 500; 500; 500; 500; 500; 500;    5000000; 16
     Mode[1]  =  0x5390;     120000; 100000;  80000;  70000; 60000; 50000; 500; 500; 500; 500; 500; 500;      120000; 100000;  80000;  70000; 60000; 50000; 500; 500; 500; 500; 500; 500;    120000; 100000;  80000;  70000; 60000; 50000; 500; 500; 500; 500; 500; 500;    5000000; 16
     Mode[2]  =  0x0357;     120000; 100000;  80000;  70000; 60000; 50000; 500; 500; 500; 500; 500; 500;      120000; 100000;  80000;  70000; 60000; 50000; 500; 500; 500; 500; 500; 500;    120000; 100000;  80000;  70000; 60000; 50000; 500; 500; 500; 500; 500; 500;    5000000; 16

[FeatureGetRealTimeYUVHistEnable]
    RealTimeYUVHistFlag = true

[GetYUVHistScale]
    YUVHistScaleValue = 1

[AsdSceneTuningEnable]
    AsdAssistTuningFlag = true

[FeatureMfnrConfig]
    #key                                               value
    com.whatsapp                                 =     1;
    com.instagram.android                        =     1;
    com.facebook.katana                          =     1;
    com.facebook.orca                            =     1;
    com.facebook.mlite                           =     1;
    com.linecorp.b612.android                    =     1;
    com.commsource.beautyplus                    =     1;
    com.zhiliaoapp.musically                     =     1;
    com.tencent.mobileqq                         =     1;
    com.snapchat.android                         =     1;
    com.intsig.camscanner                        =     1;
    com.tencent.mm                               =     1;
    com.itc.wts88051_autotest                    =     1;
    vStudio.Android.Camera360                    =     1;
    com.gorgeous.lite                            =     1;
    com.cyberlink.youperfect                     =     1;
    com.benqu.wuta                               =     1;
    com.meitu.meiyancamera                       =     1;
    com.mt.mtxx.mtxx                             =     1;
    com.alibaba.android.rimet                    =     1;
    com.tencent.zebra                            =     1;
    com.xhey.xcamera                             =     1;
    com.cyberlink.youperfect                     =     1;
    com.lemon.faceu                              =     1;
    com.campmobile.snowcamera                    =     1;
    com.kuaiduizuoye.scan                        =     1;
    com.youdao.dict                              =     1;
    com.tencent.wework                           =     1;
    com.tencent.ttpic                            =     1;
    com.kwai.m2u                                 =     1;
    com.dw.btime                                 =     1;
    com.smile.gifmaker                           =     1;
    com.ss.android.ugc.aweme                     =     1;
    com.google.android.apps.tachyon              =     1;

[EisFactor]
    #key                             value
    FrontSensor                      = 109;
    RearSensor                       = 119;
    RearSensor60Fps                  = 119;
    WideSensor                       = 135;

[EISCustomCalibration]
    CustomNum = 3

[sensorHighSpeedSettingMode]
    customSettingModeFlag = true

[LtmDisable]
    LtmFlag  =  true

[DisableInitRequestFlag]
    disableFlag = true

[OplusSikpPreviewBuffer]
    SuperNightSkip  =  true

[AfterSaleCalibration]
    SaleCalSensorID = 0x0768

[SupportedImageSizesGSI]
    #                 width  height
    ImageSizes[0]  =  4096; 3072    # 4:3        main photo
    ImageSizes[1]  =  3264; 2448    # 4:3        uw photo
    ImageSizes[2]  =  3840; 2160    # 16:9       video 4K
    ImageSizes[3]  =  2304; 1728    # 4:3        front photo
    ImageSizes[4]  =  2560; 1920
    ImageSizes[5]  =  2412; 1080
    ImageSizes[6]  =  2160; 1080    # 2:1
    ImageSizes[7]  =  1920; 1440    # 4:3
    ImageSizes[8]  =  1920; 1080    # 16:9       oplus video 1080P
    ImageSizes[9]  =  1440; 1080    # 4:3        oplus rear portrait
    ImageSizes[10]  = 1280; 960     # 4:3        SXGA
    ImageSizes[11] =  1280; 720     # 16:9       oplus video  720P
    ImageSizes[12] =  1088; 1088    # 1:1
    ImageSizes[13] =  720;  480     # 3:2        480P
    ImageSizes[14] =  640;  480     # 4:3        VGA
    ImageSizes[15] =  352;  288     # 16:13      CIF
    ImageSizes[16] =  320;  240     # 4:3        QVGA
    ImageSizes[17] =  176;  144     # 16:13

[FeatureDualCam]
    #       [Id]        =  cam1_img_crop[4]: ofst_x;  ofst_y;  width;  height;     cam2_img_crop[4]: ofst_x;  ofst_y;  width;  height;
    CaliData[0x0768]   =                        0;       0;    8192;    6144;                         -1;     -1;     -1;      -1; #IMX766_SENSOR_ID_21641
    CaliData[0x0357]   =                       -1;      -1;      -1;      -1;                        416;    312;   2448;    1836; #IMX355_SENSOR_ID_21641

[OplusTurboRaw]
    IsSupportTR = false

[Flashlightduty]
    #torch duty
    duty = 3

[TuningFwsnrPreview]
    FwsnrPreviewFlag = true

[FeatureIsoCalibrate]
    IsoCalibrateSwitch = true

[FeatureOKIBuild]
    isOKIBuild = true
